*{
    margin: 0px;
    padding: 0px;
    
}
nav{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.lo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 25px;
    width: 10%;
    margin-left: 1%;
}

ul{
display: flex;
flex-direction: row;
justify-content: space-evenly;
width: 88%;
justify-content: flex-end;
list-style: none;
margin-right: 20px;
}

ul li{
    padding: 15px;
    font-size: 1.2rem;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
li:hover{
  transition: all 0.2s  ease-in;  
  background-color: rgb(66, 57, 57);
  
}
.Fp{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: black;
}


.motiv3{
    width: 100%;
    height: 70%;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
   
}
.motiv3 h1{
    font-size: 65px;
    color: #6ab856;
    margin-top: 50px;

}
.motiv3 p{
    font-size: 35px;
    margin-top: 50px;
    color: #6ab856;
}
.motiv3 h4{
    font-size: 17px;
    margin-top: 50px;
    color: rgb(138, 126, 126);

}
.trai{
    width: 100%;
    height: 40%;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;   

}
.trai h1{
    font-size: 65px;
    color: white;
    margin-top: 50px;
}
.trai p{
    font-size: 35px;
    margin-top: 50px;
    color: rgb(138, 126, 126);
}
.motiv4{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: black;
  
}
.fot{
    margin-top: 60px;
    height: 80%;
    width: 100%;
    margin-left: 15%;
    
}
.thirrjet{
    color: aliceblue;
    margin-left: 12%;
    margin-top: 100px;
    font-size: 23px;

}
.thirrjet p{
    margin-top: 31px;
    height: 40px;
    margin-right: 70px;
}
.tret{
    background-color: black;
    display: flex;
    flex-direction: column;
   
}
button{
    margin-top: 0%;
    background-color: white;
    width: 130px;
    height: 50px;
    border: none;
    font-size: 15px;
    margin-bottom: 16px;
    margin-left: 45%;
}
.buton{
    color: black;
    font-size: 16px;

}
.buton:hover{
    transition: all 0.2s  ease-in;  
    background-color: rgb(138, 126, 126);  
}

hr{
    margin-top: 70px;
}

.info{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    width: 100%;
    flex-direction: row;
    height: 60%;

}
.menyja{
    margin-top: 75px;
    height:  65%;
    font-size: 25px;
    margin-left: 10px;
    color: white;
}
.menyja p {
    line-height: 1.6;
}
.kontakti h3{
    margin-top: 40px;
    color: white;
    font-size: 25px;
}
.kontakti{ 
    color: white;
}
.kontakti p{
    margin-top: 10px;
    color: white;
}
.reklamacioni{
    margin-top: 20px;
    width: 100px;
}
.reklamacion h3{
    color: white;
    margin-top: 40px;
    font-size: 25px;
   
}
.fb{
    margin-top: 15px;
    height: 25px;
}
.ig{
    height: 25px;
}
.tw{
    height: 25px;
}